.Navbar {
    position: fixed;
    width: 100%;
    display: grid;
    grid-template-columns: 10% auto 1fr 7%;
    align-items: center;
    background-color: #EAEAEA;
    border: 1px solid rgba(59, 59, 59, 0.055);
    box-shadow: 0px 0px 10px rgba(59, 59, 59, 0.6);
    z-index: 100;
}
.logo {
    margin-left: 10%;
    max-height: 65px;
    max-width: 110px;
    min-width: 50px;
}
.Navbar img {
    max-width: 70%;
    min-height: 50px;
    min-width: 70px;
}
.nav {
    display: inline-flex;
    align-items: center;
    margin: 0rem 1rem;
    height: 100%;
    gap: 5rem;
    /* Needs better overflow solution */
    overflow: hidden;
}
.flight-timer {
  background: none;
  box-shadow: none;
  width: fit-content;
}
.nav-item {
    display: flex;
    color: #303F77;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}
.active {
    text-shadow: 0 0 50px rgb(255, 255, 255);
}
.navbar-info {
    display: flex;
    justify-content: center;
    /* margin-right: 5%; */
    gap: 2rem;
    color: #303F77;
    font-weight: 300;
    min-width: 300px;
}

.settings-dropdown {
    position: relative;
    display: inline-block;
}
.settings-button button {
    height: 65px;
    padding: 0;
    border: none;
    border-radius: 2px;
    box-shadow: none;
    border-left: 1px solid rgba(48, 63, 119, 0.4);
}
.settings-dropdown:hover .dropdown-content{
    display: block;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    /* background-color: rgb(240, 240, 240); */
    /* box-shadow: 10px 1px 5px rgba(48, 63, 119, 0.6); */
    z-index: 1;
    width: 100%;
    text-align: center;
    /* padding-top: 10px; */
    /* border-radius: 0 0 7px 7px; */
    overflow: hidden;
}
.dropdown-item, .dropdown-power, .dropdown-logout{
    color: #303F77;
    height: 3rem;
    border: 1px solid rgba(48, 63, 119, 0.4);
    border-bottom: none;
    align-content: center;
    margin-top: 5px;
}
.dropdown-logout {
    color: #f0f0f0;
    background-color: #bbbbbb;
}
.dropdown-logout:hover {
    background-color: #999999;
}
.dropdown-power {
    color: #f0f0f0;
    background-color: rgb(210, 0, 0);
}
.dropdown-power:hover {
    background-color: darkred;
}
